<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table id="sortable-table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email address</th>
      <th>Phone number</th>
      <th>Company</th>
      <th>Company ID</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email_address %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.company_name %></td>
        <td><%= Company.lookup_company_id(user.company_name) %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'btn btn-sm btn-danger delete-user' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Company Listing', companies_path, class: 'btn btn-primary' %>
<button class="btn btn-success" id="com-filter">Filter by '.com'</button>

<div>
  <h4>Import some Data!</h4>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
